*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

header h1{
    margin: 10px;
    padding: 10px;   
    text-align: center;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,150px);
}


.jogo{
    cursor: pointer;
    background-color: aqua;
    padding: 10px;
    margin: 10px;
}
